# =========================
# Laravel App
# =========================
APP_KEY=                        # Générer avec : php artisan key:generate

# =========================
# PayDunya
# =========================
PAYDUNYA_MODE=sandbox           # sandbox ou live
PAYDUNYA_MASTER_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_PUBLIC_KEY=
PAYDUNYA_TOKEN=
